<div class="media_item {{ block.type }}{% if is_first %} first{% endif %}">
  <div class="media_item_wrapper text-center">
    {% if block.type == 'image' %}
      {% if block.settings.link != blank %}
        <a href="{{ block.settings.link }}">
      {% endif %}
      <div class="image_wrapper">
        {% render 'rimage', image: block.settings.image %}
        <div class="zoom_image_wrapper">
          {% render 'rimage', image: block.settings.image %}
        </div>
      </div>
      {% if block.settings.link != blank %}
        </a>
      {% endif %}
    {% else %}
      <div class="video_wrapper">
        <div class='embed-container'>
          {% assign video_url = video_url | replace: 'vimeo.com', 'player.vimeo.com/video' | replace: 'watch?v=', 'embed/' %}
          <iframe title="{{ title | strip_html }}" class="lazyload" src='{{ video_url }}' frameborder='0' allow="autoplay" allowautoplay allowfullscreen></iframe>
        </div>
      </div>
    {% endif %}
    {% if block.settings.title != blank %}
      <div class="item_title">{{ block.settings.title }}</div>
    {% endif %}
    {% if block.settings.subtitle != blank %}
      <div class="item_subtitle">{{ block.settings.subtitle }}</div>
    {% endif %}
  </div>
</div>