{% case icon %}

  {% when 'icon-arrow-right' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M16 12.5V15L22 12L16 9V11.5H2V12.5H16Z" fill="black"/>
    </svg>

  {% when 'icon-arrow-right-yellow' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M16 12.5V15L22 12L16 9V11.5H2V12.5H16Z" fill="#CC9933"/>
    </svg>

  {% when 'icon-arrow-left' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8 12.5V15L2 12L8 9V11.5H22V12.5H8Z" fill="black"/>
    </svg>
    
  {% when 'icon-close' %}
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 371.23 371.23" style="enable-background:new 0 0 371.23 371.23;" xml:space="preserve">
      <polygon points="371.23,21.213 350.018,0 185.615,164.402 21.213,0 0,21.213 164.402,185.615 0,350.018 21.213,371.23   185.615,206.828 350.018,371.23 371.23,350.018 206.828,185.615 "/>
    </svg>

  {% when 'icon-hamburger' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M22 17H2V16H22V17Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12.5H2V11.5H22V12.5Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M22 8H2V7H22V8Z" fill="white"/>
    </svg>

  {% when 'icon-stars-yellow' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="16" viewBox="0 0 80 16" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.88991 6.01912L8 1.86133L6.1101 6.01912L1.92773 6.39933L4.95196 9.42356L3.4293 13.9916L8 11.7062L12.5707 13.9916L11.048 9.42356L14.0723 6.39933L9.88991 6.01912Z" fill="#CC9933"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M25.8899 6.01912L24 1.86133L22.1101 6.01912L17.9277 6.39933L20.952 9.42356L19.4293 13.9916L24 11.7062L28.5707 13.9916L27.048 9.42356L30.0723 6.39933L25.8899 6.01912Z" fill="#CC9933"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M41.8899 6.01912L40 1.86133L38.1101 6.01912L33.9277 6.39933L36.952 9.42356L35.4293 13.9916L40 11.7062L44.5707 13.9916L43.048 9.42356L46.0723 6.39933L41.8899 6.01912Z" fill="#CC9933"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M57.8899 6.01912L56 1.86133L54.1101 6.01912L49.9277 6.39933L52.952 9.42356L51.4293 13.9916L56 11.7062L60.5707 13.9916L59.048 9.42356L62.0723 6.39933L57.8899 6.01912Z" fill="#CC9933"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M73.8899 6.01912L72 1.86133L70.1101 6.01912L65.9277 6.39933L68.952 9.42356L67.4293 13.9916L72 11.7062L76.5707 13.9916L75.048 9.42356L78.0723 6.39933L73.8899 6.01912Z" fill="#CC9933"/>
    </svg>

{% endcase %}