<div class="drawer drawer--fade bg-black color-white" id="ContactDrawer">
  <div class="js-drawer-close text-right">{% render 'icon' with 'icon-close' %}</div>
  {%- form 'contact', id: 'contact-us' -%}
  
    {%- if form.posted_successfully? -%}
      <p class="note note--success">
        {{ 'contact.form.post_success' | t }}
      </p>
    {%- endif -%}
  
    {{ form.errors | default_errors }}
  
    <div class="grid grid--small">
      <div class="grid__item medium-up--one-half">
        <label for="ContactFormName-{{ section.id }}" class="font-general text-bold">{{ 'contact.form.name' | t }}</label>
        <input type="text" id="ContactFormName-{{ section.id }}" class="input-full" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
      </div>
  
      <div class="grid__item medium-up--one-half">
        <label for="ContactFormEmail-{{ section.id }}" class="font-general text-bold">{{ 'contact.form.email' | t }}</label>
        <input type="email" id="ContactFormEmail-{{ section.id }}" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
      </div>
    </div>
  
    <div class="grid grid--small">
      <div class="grid__item medium-up--one-half">
        <label for="ContactFormPhone-{{ section.id }}" class="font-general text-bold">{{ 'contact.form.phone' | t }}</label>
        <input type="tel" id="ContactFormPhone-{{ section.id }}" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
      </div>
      <div class="grid__item medium-up--one-half">
        <label for="ContactFormCategory-{{ section.id }}" class="font-general text-bold">What you need</label>
        <select name="contact[category]" id="ContactFormCategory-{{ section.id }}" class="input-fill">
          <option value="Design & development">Design & development</option>
          <option value="Replatforming to Shopify">Replatforming to Shopify</option>
          <option value="Ongoing support">Ongoing support</option>
          <option value="Shopify marketing">Shopify marketing</option>
        </select>
      </div>
    </div>

    <label for="ContactFormMessage-{{ section.id }}" class="font-general text-bold">{{ 'contact.form.message' | t }}</label>
    <textarea rows="5" id="ContactFormMessage-{{ section.id }}" class="input-full" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
  
    <button type="submit" class="btn">
      SEND MESSAGE
    </button>
  
    {% comment %}
      Remove the following three lines of code to remove the note
      about being protected by Google's reCAPTCHA service.
      By removing it, the small reCAPTCHA widget will appear in the
      bottom right corner of the page.
    {% endcomment %}
    {% comment %}
    {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
    {% endcomment %}
  
  {%- endform -%}
</div>

<div class="drawer drawer--fade bg-black color-white" id="BookingDrawer">
  <div class="js-drawer-close text-right">{% render 'icon' with 'icon-close' %}</div>
  <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/meditodigital/client?embed=true"></div>
  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
</div>

