{% assign st = section.settings %}

<style>
  #shopify-section-{{ section.id }} {
    padding-top: {{ st.ptop }}px;
    padding-bottom: {{ st.pbottom }}px;
  }
  @media (max-width: 768px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ st.ptop_mob }}px;
      padding-bottom: {{ st.pbottom_mob }}px;
    } 
  }
</style>