{% if section.settings.enable_overlay %}
  <style>
    #shopify-section-{{ section.id }} {
      margin-top: -100px;
      margin-bottom: -100px;
    }
  </style>
{% endif %}

{% render 'section-styles', section: section %}

{%- unless section.settings.full_width -%}
  <div class="page-width">
{%- endunless -%}
  <div class="m-auto main_content" style="{% if section.settings.m_width != blank %}max-width:{{ section.settings.m_width }};{% endif %}{% if section.settings.m_left != blank %}padding-left:{{ section.settings.m_left }}{% endif %}">
    <div class="custom-content">
      {%- for block in section.blocks -%}
        {%- liquid
          case block.settings.width
            when '25%'
              assign block_width = 'small--one-whole one-quarter'
            when '33%'
              assign block_width = 'small--one-whole one-third'
            when '50%'
              assign block_width = 'small--one-whole one-half'
            when '66%'
              assign block_width = 'small--one-whole two-thirds'
            when '75%'
              assign block_width = 'small--one-whole three-quarters'
            when '100%'
              assign block_width = 'one-whole'
          endcase
        -%}
        <div class="custom__item custom__item-{{ block.type }} {{ block_width }}{% if block.settings.alignment %} align--{{ block.settings.alignment }}{% endif %}" {{ block.shopify_attributes }}>
          <div class="custom__item-inner custom__item-inner--{{ block.type }}{% if block.settings.image == blank and block.type == 'image' %} custom__item-inner--placeholder-image{% endif %}">
            {%- case block.type -%}
              {%- when 'liquid' -%}
                {%- if block.settings.code != blank -%}
                  <div class="rte">
                    {{ block.settings.code }}
                  </div>
                {%- else -%}
                  <div class="rte">
                    {{ 'home_page.onboarding.no_content' | t }}
                  </div>
                {%- endif -%}
              {%- when 'image' -%}
                <div class="aos-animate">
                  {%- if block.settings.link != blank -%}
                    <a href="{{ block.settings.link }}">
                  {%- endif -%}
                  {%- if block.settings.image != blank -%}
                    <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
                      {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                      <img class="lazyload"
                          data-src="{{ img_url }}"
                          data-widths="[360, 540, 720, 900, 1080, 1600]"
                          data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                          data-sizes="auto"
                          alt="{{ block.settings.image.alt }}">
                      <noscript>
                        <img class="lazyloaded" src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.image.alt }}">
                      </noscript>
                    </div>
                    {%- else -%}
                      <div class="image-wrap">
                        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                  {%- endif -%}
                  {%- if block.settings.link != blank -%}
                    </a>
                  {%- endif -%}
                </div>

              {% when 'icon' %}
                <div class="aos-animate icon_block_wrapper">
                  <div class="image_wrapper d-flex align-center" style="max-width:{{ block.settings.img_width }}%;min-width:{{ block.settings.img_width }}%;">
                    {% render 'rimage', image: block.settings.image %}
                  </div>
                  <div class="rte desc font-general color-gravel">{{ block.settings.content }}</div>
                </div>
            {%- endcase -%}
          </div>
        </div>
      {%- endfor -%}
      {%- if section.blocks.size == 0 -%}
        <div class="page-width">
          <div class="grid">
            <div class="grid__item">
              <div class="rte">
                {{ 'home_page.onboarding.no_content' | t }}
              </div>
            </div>
          </div>
      </div>
      {%- endif -%}
    </div>
  </div>
{%- unless section.settings.full_width -%}
  </div>
{%- endunless -%}

{% schema %}
  {
    "name": "Custom content",
    "class": "section-advanced-content",
    "settings": [
      {
        "type": "header",
        "content": "Spacing"
      },
      {
        "type": "range",
        "id": "ptop",
        "label": "Top spacing desktop",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "pbottom",
        "label": "Bottom spacing desktop",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "ptop_mob",
        "label": "Top spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "pbottom_mob",
        "label": "Bottom spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full page width",
        "default": false
      },
      {
        "type": "text",
        "id": "m_width",
        "label": "Max width"
      },
      {
        "type": "text",
        "id": "m_left",
        "label": "Spacing left"
      },
      {
        "type": "checkbox",
        "id": "enable_overlay",
        "label": "Enable overlay"
      }
    ],
    "blocks": [
      {
        "type": "liquid",
        "name": "HTML",
        "settings": [
          {
            "type": "liquid",
            "id": "code",
            "label": "HTML",
            "default": "<h2>Custom content</h2><p>Use this advanced section to build your own layouts or to add custom HTML, Liquid, or scripts.</p>",
            "info": "Supports Liquid"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "default": "100%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "center",
            "info": "Aligns when next to other custom content",
            "options": [
              {
                "value": "top-middle",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom-middle",
                "label": "Bottom"
              }
            ]
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "default": "100%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "center",
            "info": "Aligns when next to other custom content",
            "options": [
              {
                "value": "top-middle",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom-middle",
                "label": "Bottom"
              }
            ]
          }
        ]
      },
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Icon"
          },
          {
            "type": "range",
            "id": "img_width",
            "min": 0,
            "max": 100,
            "default": 50,
            "unit": "%",
            "label": "Image width"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "default": "100%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom content",
        "blocks": [
          {
            "type": "image",
            "settings": {
              "width": "50%"
            }
          },
          {
            "type": "liquid",
            "settings": {
              "width": "50%"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
