{% render 'section-styles', section: section %}

{%- assign blog = blogs[section.settings.blog] -%}

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width">

  {%- if section.settings.title != blank -%}
    <header class="section-header{% if section.settings.view_all %}{% unless settings.type_headers_align_text %} section-header--with-link{% endunless %}{% endif %}">
      <h2 class="section-header__title d-flex align-center">
        <span class="pin"></span>
        {{ section.settings.title | escape }}
      </h2>
      {%- if section.settings.view_all and section.settings.view_all_label != blank -%}
        {% comment %}<a href="{{ blog.url }}"  class="btn btn--secondary btn--small section-header__link">{{ 'blogs.article.view_all' | t }}</a>{% endcomment %}
        <a href="{{ blog.url }}"  class="btn btn-arrow hide--mobile m-auto">
          {{ section.settings.view_all_label }}
          {% render 'icon' with 'icon-arrow-right' %}
        </a>
      {%- endif -%}
    </header>
  {%- endif -%}

  {%- unless blog.empty? or blog.articles.size == 0 -%}

    <div class="grid grid--uniform">
      {%- for article in blog.articles limit: section.settings.post_limit -%}
        {%- render 'article-grid-item',
          blog: blog,
          article: article,
          grid_item_width: 'medium-up--one-third',
          per_row: '3',
          image_size: section.settings.blog_image_size
        -%}
      {%- endfor -%}
    </div>

  {%- else -%}

    <div class="grid grid--uniform">
      {%- for i in (1..section.settings.post_limit) -%}
        <div class="grid__item medium-up--one-third" data-aos="row-of-3">
          <div class="grid">
            <div class="grid__item small--one-third">
              <a href="#" class="article__grid-image">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </a>
            </div>
            <div class="grid__item small--two-thirds">
              <div class="article__grid-meta">
                {%- if section.settings.blog_show_date or article.tags.size > 0 or articles.comments_count > 0 -%}
                  <div class="article__date">
                    {%- if section.settings.blog_show_comments and article.comments_count > 0 -%}
                      <a href="#">3 comments</a> &middot;
                    {%- endif -%}
                    {%- if section.settings.blog_show_date -%}
                      Jul 17, {{ 'now' | date: "%Y" }}
                    {%- endif -%}
                  </div>
                {%- endif -%}

                <a href="#" class="article__title">Example blog post</a>

                {%- if section.settings.blog_show_author -%}
                  <div class="article__author">by Archetype Themes</div>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>

  {%- endunless -%}

  {%- if section.settings.view_all and section.settings.view_all_label != blank -%}
    {% comment %}<a href="{{ blog.url }}"  class="btn btn--secondary btn--small section-header__link">{{ 'blogs.article.view_all' | t }}</a>{% endcomment %}
    <div class="btn_wrapper hide--desktop hide--mobile">
      <a href="{{ blog.url }}"  class="btn btn-arrow">
        {{ section.settings.view_all_label }}
        {% render 'icon' with 'icon-arrow-right' %}
      </a>
    </div>
  {%- endif -%}

</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% if section.settings.show_bg_shape %}
  <div class="bg-shape"></div>
{% endif %}

{% schema %}
  {
    "name": "Blog posts",
    "class": "section-blog-posts",
    "settings": [
      {
        "type": "header",
        "content": "Spacing"
      },
      {
        "type": "range",
        "id": "ptop",
        "label": "Top spacing desktop",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "pbottom",
        "label": "Bottom spacing desktop",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "ptop_mob",
        "label": "Top spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "pbottom_mob",
        "label": "Bottom spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "default": 3,
        "min": 3,
        "max": 12,
        "step": 3
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags",
        "label": "Show tags"
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comments",
        "label": "Show comment count"
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author"
      },
      {
        "type": "checkbox",
        "id": "view_all",
        "label": "Show 'View all' button",
        "default": true
      },
      {
        "type": "text",
        "id": "view_all_label",
        "label": "Button label",
        "default": "View all"
      },
      {
        "type": "select",
        "id": "blog_image_size",
        "label": "Image size",
        "default": "wide",
        "options": [
          {
            "value": "natural",
            "label": "Natural"
          },
          {
            "value": "square",
            "label": "Square (1:1)"
          },
          {
            "value": "landscape",
            "label": "Landscape (4:3)"
          },
          {
            "value": "portrait",
            "label": "Portrait (2:3)"
          },
          {
            "value": "wide",
            "label": "Wide (16:9)"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_bg_shape",
        "label": "Background shape"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "settings": {
          "blog": "News",
          "post_limit": 3
        }
      }
    ]
  }
{% endschema %}
