{% render 'section-styles', section: section %}

<div class="section_container page-width">
  <div class="main_content d-flex m-fd-column">
    {% for block in section.blocks %}
      <div class="cta_block text-center">
        <div class="block_title">{{ block.settings.title }}</div>
        <div class="block_subtitle color-gravel">{{ block.settings.subtitle }}</div>
        {% if block.settings.btn_label != blank %}
          <div class="btn_wrapper">
            <a aria-controls="{{ block.settings.btn_id }}" aria-expanded="false" class="btn btn-{{ block.settings.btn_type }} m-auto {{ block.settings.btn_class }}" href="{% if block.settings.btn_link != blank %}{{ block.settings.btn_link }}{% else %}javascript:;{% endif %}">
              {{ block.settings.btn_label }}
              {% if block.settings.btn_type == 'arrow' %}
                {% render 'icon' with 'icon-arrow-right' %}
              {% endif %}
            </a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "CTA group",
  "class": "section-cta-group",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Settings"
    }
  ],
  "blocks": [
    {
      "type": "cta",
      "name": "CTA block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title" 
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "options": [
            {
              "label": "Black",
              "value": "black"
            },
            {
              "label": "White",
              "value": "white"
            },
            {
              "label": "Arrow",
              "value": "arrow"
            }
          ],
          "id": "btn_type",
          "label": "Button type",
          "default": "black"
        },
        {
          "type": "text",
          "id": "btn_class",
          "label": "Button class"
        },
        {
          "type": "text",
          "id": "btn_id",
          "label": "Button ID"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "CTA group"
    }
  ]
}
{% endschema %}