{% render 'section-styles', section: section %}

<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.section_bg }};
  }
</style>

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width">

  {% if section.settings.layout == 'accordion' %}
    {%- if section.settings.title != blank -%}
      <header class="section-header">
        <h2 class="section-header__title">
          {{ section.settings.title | escape }}
        </h2>
      </header>
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}

      {%- for block in section.blocks -%}
        <div {{ block.shopify_attributes }}>
          {% case block.type %}
            {% when 'rich-text'%}
              <div class="index-section index-section--faq">
                <div class="text-{{ block.settings.align_text }}">
                  {%- if block.settings.title != blank -%}
                    <p class="h2">
                      {{ block.settings.title | escape }}
                    </p>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div class="rte">
                      {%- if block.settings.enlarge_text %}<div class="enlarge-text">{% endif -%}
                        {{ block.settings.text }}
                      {%- if block.settings.enlarge_text %}</div>{% endif -%}
                    </div>
                  {%- endif -%}
                </div>
              </div>

            {% when 'question'%}
              <div>
                <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ block.id }}">
                  {%- render 'collapsible-icons-alt', no_circle: true -%}
                  <span>{{ block.settings.title }}</span>
                </button>
                <div id="FAQ-content-{{ block.id }}" class="collapsible-content collapsible-content--all">
                  <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                    {{ block.settings.text }}
                  </div>
                </div>
              </div>
          {% endcase %}
        </div>
      {%- endfor -%}
    {%- endif -%}

    {%- if section.blocks.size == 0 -%}
      <div class="placeholder-noblocks">
        {{ 'home_page.onboarding.no_content' | t }}
      </div>
    {%- endif -%}
  {% else %}
    <div class="main_wrapper m-auto layout-{{ section.settings.layout }} hide--mobile">
      {% if section.settings.layout == 'block-2' %}
        {% if section.settings.title != blank %}
          <header class="section-header d-flex">
            <span class="pin"></span>
            <h2 class="section-header__title">
              {{ section.settings.title | escape }}
            </h2>
          </header>
        {% endif %}
      {% endif %}
      {% if section.blocks.size > 0 %}
        <div class="faq-blocks d-flex space-between">
          <div class="column">
            {% if section.settings.layout == 'block' %}
              {% if section.settings.title != blank %}
                <header class="section-header d-flex">
                  <span class="pin"></span>
                  <h2 class="section-header__title">
                    {{ section.settings.title | escape }}
                  </h2>
                </header>
              {% endif %}
            {% endif %}
            
            {% assign is_first = true %}
            
            {% for block in section.blocks %}
              {% assign idx = forloop.index0 | modulo: 2 %}
              {% if idx == 0 %}
                <div class="faq-block-item{% if is_first %} first{% endif %}" id="faq-{{ block.id }}">
                  <div class="block_index">
                    {% if forloop.index < 10 %}0{% endif %}{{ forloop.index }}.
                  </div>
                  <div class="block_title">{{ block.settings.title }}</div>
                  <div class="block_content font-general">{{ block.settings.text }}</div>
                </div>
                {% assign is_first = false %}
              {% endif %}
              <style>
                #faq-{{ block.id }} {
                  background: {{ block.settings.block_bg }};
                }
                #faq-{{ block.id }} .block_index {
                  color: {{ block.settings.color_number }}
                }
                #faq-{{ block.id }} .block_title {
                  color: {{ block.settings.color_title }};
                }
                #faq-{{ block.id }} .block_content {
                  color: {{ block.settings.color_text }}
                }
              </style>
            {% endfor %}
          </div>
          <div class="column">

            {% assign is_first = true %}

            {% for block in section.blocks %}
              {% assign idx = forloop.index0 | modulo: 2 %}
              {% if idx == 1 %}
                <div class="faq-block-item{% if is_first %} first{% endif %}" id="faq-{{ block.id }}">
                  <div class="block_index">
                    {% if forloop.index < 10 %}0{% endif %}{{ forloop.index }}.
                  </div>
                  <div class="block_title">{{ block.settings.title }}</div>
                  <div class="block_content font-general">{{ block.settings.text }}</div>
                </div>
                {% assign is_first = false %}
              {% endif %}
              <style>
                #faq-{{ block.id }} {
                  background: {{ block.settings.block_bg }};
                }
                #faq-{{ block.id }} .block_index {
                  color: {{ block.settings.color_number }}
                }
                #faq-{{ block.id }} .block_title {
                  color: {{ block.settings.color_title }};
                }
                #faq-{{ block.id }} .block_content {
                  color: {{ block.settings.color_text }}
                }
              </style>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>

    <div class="main_wrapper m-auto layout-{{ section.settings.layout }} hide--desktop">
      {% if section.settings.title != blank %}
        <header class="section-header d-flex m-pl-10">
          <span class="pin"></span>
          <h2 class="section-header__title">
            {{ section.settings.title | escape }}
          </h2>
        </header>
      {% endif %}
      {% if section.blocks.size > 0 %}
        <div class="faq-blocks d-flex space-between flex-wrap">
          {% for block in section.blocks %}
            <div class="faq-block-item" id="faq-{{ block.id }}">
              <div class="block_index">
                {% if forloop.index < 10 %}0{% endif %}{{ forloop.index }}.
              </div>
              <div class="block_title">{{ block.settings.title }}</div>
              <div class="block_content font-general">{{ block.settings.text }}</div>
            </div>
            <style>
              #faq-{{ block.id }} {
                background: {{ block.settings.block_bg }};
              }
              #faq-{{ block.id }} .block_index {
                color: {{ block.settings.color_number }}
              }
              #faq-{{ block.id }} .block_title {
                color: {{ block.settings.color_title }};
              }
              #faq-{{ block.id }} .block_content {
                color: {{ block.settings.color_text }}
              }
            </style>
          {% endfor %}
        </div>
      {% endif %}
    </div>

  {% endif %}
</div>

{% if section.blocks.size > 0 %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'question' %}
            {
              "@type": "Question",
              "name": {{ block.settings.title | json }},
              "acceptedAnswer": {
                "@type": "Answer",
                "text": {{ block.settings.text | json }}
              }
            }{% unless forloop.last %},{% endunless %}
        {% endcase %}
      {% endfor %}
    ]
  }
</script>
{% endif %}

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
  {
    "name": "FAQ",
    "class": "section-faq",
    "settings": [
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background"
      },
      {
        "type": "header",
        "content": "Spacing"
      },
      {
        "type": "range",
        "id": "ptop",
        "label": "Top spacing desktop",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "pbottom",
        "label": "Bottom spacing desktop",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "ptop_mob",
        "label": "Top spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "pbottom_mob",
        "label": "Bottom spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "FAQs"
      },
      {
        "type": "select",
        "options": [
          {
            "label": "Accordion",
            "value": "accordion"
          },
          {
            "label": "Block",
            "value": "block"
          },
          {
            "label": "Block 2",
            "value": "block-2"
          }
        ],
        "id": "layout",
        "label": "Layout",
        "default": "accordion"
      }
    ],
    "blocks": [
      {
        "type": "rich-text",
        "name": "Rich text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Rich text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this section for any descriptive text you need to fill out your pages or to add introductory headings between other blocks.</p>"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "id": "block_bg",
            "label": "Background",
            "default": "#FFF"
          },
          {
            "type": "color",
            "id": "color_number",
            "label": "Number",
            "default": "#CC9933"
          },
          {
            "type": "color",
            "id": "color_title",
            "label": "Title",
            "default": "#000"
          },
          {
            "type": "color",
            "id": "color_text",
            "label": "Text",
            "default": "#000"
          }
        ]
      },
      {
        "type": "question",
        "name": "Question",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question",
            "default": "Frequently asked question"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "id": "block_bg",
            "label": "Background",
            "default": "#FFF"
          },
          {
            "type": "color",
            "id": "color_number",
            "label": "Number",
            "default": "#CC9933"
          },
          {
            "type": "color",
            "id": "color_title",
            "label": "Title",
            "default": "#000"
          },
          {
            "type": "color",
            "id": "color_text",
            "label": "Text",
            "default": "#000"
          }
        ]
      }
    ],
    "presets": [{
      "name": "FAQ",
      "blocks": [
        {
          "type": "question"
        },
        {
          "type": "question"
        }
      ]
    }]
  }
{% endschema %}
