{% render 'section-styles', section: section %}

{% if section.settings.enable_overlap %}
  <style>
    @media (min-width: 769px) {
      #shopify-section-{{ section.id }} {
        transform: translateY(-50%);
        margin-bottom: -150px;
      }
    }
  </style>
{% endif %}

<div class="section_container page-width">
  <div class="main_content" style="background:{{ section.settings.section_bg }}">
    <div class="content_wrapper">
      <div class="section_header d-flex align-center">
        {% if section.settings.title != blank %}
          <h2 class="title">{{ section.settings.title }}</h2>  
        {% endif %}
        {% if section.settings.btn_link != blank %}
          <div class="btn_wrapper hide--mobile">
            <a href="{{ section.settings.btn_link }}" class="btn btn-arrow no-transition">
              {{ section.settings.btn_label }}
              {% render 'icon' with 'icon-arrow-right' %}
            </a>
          </div>
        {% endif %}
      </div>
      {% if section.settings.desc != blank %}
        <div class="desc rte font-general">{{ section.settings.desc }}</div>
      {% endif %}
    </div>
    {% if section.settings.btn_link != blank %}
      <div class="btn_wrapper hide--desktop">
        <a href="{{ section.settings.btn_link }}" class="btn btn-arrow no-transition">
          {{ section.settings.btn_label }}
          {% render 'icon' with 'icon-arrow-right' %}
        </a>
      </div>
    {% endif %}
    <div class="bg-skew-shape bg-white"></div>
    <div class="bg-skew-shape bg-sand"></div>
    <div class="bg-skew-shape bg-black"></div>

    {% if section.settings.btn_link != blank %}
      <a href="{{ section.settings.btn_link }}" class="link-cover"></a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "CTA",
  "class": "section-cta",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "checkbox",
      "id": "enable_overlap",
      "label": "Overlap"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "CTA"
    }
  ]
}
{% endschema %}