<div class="section_container" data-aos>
  {% if section.settings.image != blank %}
    <div class="main_wrapper">
      <div class="image_wrapper hide--mobile">
        {% render 'rimage', image: section.settings.image %}
      </div>
      <div class="image_wrapper hide--desktop">
        {% assign mob_image = section.settings.mob_image | default: section.settings.mob_image %}
        {% render 'rimage', image: mob_image %}
      </div>
      <div class="zoom_image_wrapper hide--mobile">
        {% render 'rimage', image: section.settings.image %}
      </div>
      {% if section.settings.title_scroll != blank %}
        <div class="scroll">
          <div class="scroll_wrapper font-general d-flex align-center">
            <div class="scroll_bar"></div>
            <label>{{ section.settings.title_scroll }}</label>
          </div>
        </div>
      {% endif %}
      <div class="content-wrapper page-width color-white">
        <div class="text-wrapper">
          {% if section.settings.title != blank %}
            <h1 class="title text-large">{{ section.settings.title }}</h1>
          {% endif %}
          {% if section.settings.desc != blank %}
            <div class="rte desc">{{ section.settings.desc }}</div>
          {% endif %}
          {% if section.settings.logo_icon != blank %}
            <div class="logo_icon">{% render 'rimage', image: section.settings.logo_icon %}</div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="bg-shape hide--mobile"></div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Featured banner",
  "class": "section-featured-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Image (mobile)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "logo_icon",
      "label": "Logo Icon"
    },
    {
      "type": "header",
      "content": "Scroll"
    },
    {
      "type": "text",
      "id": "title_scroll",
      "label": "Label",
      "default": "Scroll to discover"
    }
  ],
  "presets": [
    {
      "name": "Featured Banner"
    }
  ]
}
{% endschema %}