{% if section.settings.enable_overlay %}
  <style>
    #shopify-section-{{ section.id }} {
      margin-top: -75px;
    }
  </style>
{% endif %}

{% render 'section-styles', section: section %}

<div class="section_container page-width {{ section.settings.layout }}" data-aos>
  {% if section.settings.layout == 'design-2' %}
    {% if section.settings.title != blank %}
      <div class="section_header d-flex space-between align-center m-auto mw-1000">
        <h2 class="title d-flex m-pl-10">
          <span class="pin"></span>
          {{ section.settings.title }}
        </h2>
        {% if section.settings.btn_link != blank and section.settings.btn_label != blank %}
          <div class="btn_wrapper hide--mobile">
            <a href="{{ section.settings.btn_link }}" class="btn btn-arrow">
              {{ section.settings.btn_label }}
              {% render 'icon' with 'icon-arrow-right' %}
            </a>
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
  <div class="main_wrapper d-flex space-between m-auto m-fd-column">
    <div class="column">
      {% if section.settings.layout == 'design-1' %}
        {% if section.settings.title != blank %}
          <div class="section_header d-flex justify-center m-justify-left m-pl-10">
            <h2 class="title d-flex">
              <span class="pin"></span>
              {{ section.settings.title }}
            </h2>
          </div>
        {% else %}
          <div class="empty_block"></div>
        {% endif %}
      {% endif %}
      {% assign is_first = true %}
      {% for block in section.blocks %}
        {% assign idx = forloop.index0 | modulo: 2 %}
        {% if idx == 0 %}
          {% render 'featured-media-item', block: block, is_first: is_first %}
          {% assign is_first = false %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="column">
      {% assign is_first = true %}
      {% for block in section.blocks %}
        {% assign idx = forloop.index0 | modulo: 2 %}
        {% if idx == 1 %}
          {% render 'featured-media-item', block: block, is_first: is_first %}
          {% assign is_first = false %}
        {% endif %}
      {% endfor %}
      {% if section.settings.layout == 'design-1' %}
        {% if section.settings.btn_link != blank and section.settings.btn_label != blank %}
          <div class="btn_wrapper hide--mobile">
            <a href="{{ section.settings.btn_link }}" class="btn btn-arrow m-auto">
              {{ section.settings.btn_label }}
              {% render 'icon' with 'icon-arrow-right' %}
            </a>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>

  {% if section.settings.btn_link != blank and section.settings.btn_label != blank %}
    <div class="btn_wrapper hide--desktop">
      <a href="{{ section.settings.btn_link }}" class="btn btn-arrow">
        {{ section.settings.btn_label }}
        {% render 'icon' with 'icon-arrow-right' %}
      </a>
    </div>
  {% endif %}

</div>

{% schema %}
{
  "name": "Featured media blocks",
  "class": "section-featured-media-blocks",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Contents"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "checkbox",
      "id": "enable_overlay",
      "label": "Enable overlay"
    },
    {
      "type": "select",
      "options": [
        {
          "value": "design-1",
          "label": "Design 1"
        },
        {
          "value": "design-2",
          "label": "Design 2"
        }
      ],
      "id": "layout",
      "default": "design-1",
      "label": "Layout"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitle"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "id": "video_url",
          "type": "video_url",
          "label": "Video URL",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitle"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured media blocks"
    }
  ]
}
{% endschema %}