{% render 'section-styles', section: section %}

<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.section_bg }};
  }
</style>

<div class="section_container page-width">
  <div class="main_wrapper m-auto d-flex align-{{ section.settings.content_align }}">
    <div class="quote_wrapper" style="max-width:{{ section.settings.max_width }};">
      <div class="icon_wrapper d-flex">
        <span class="pin" {% if section.settings.icon_color != blank %}style="background: {{ section.settings.icon_color }};"{% endif %}></span>
        <span class="pin" {% if section.settings.icon_color != blank %}style="background: {{ section.settings.icon_color }};"{% endif %}></span>
      </div>
      {% if section.settings.quote != blank %}
        <div class="quote" style="color:{{ section.settings.title_color }}">{{ section.settings.quote }}</div>
      {% endif %}
      {% if section.settings.title != blank %}
        <div class="quote_title font-general text-bold color-black">{{ section.settings.title }}</div>
      {% endif %}
      {% if section.settings.subtitle != blank %}
        <div class="quote_subtitle font-general color-gravel">{{ section.settings.subtitle }}</div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured quote",
  "class": "section-featured-quote",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "richtext",
      "id": "quote",
      "label": "Quote"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Max width"
    },
    {
      "type": "select",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "id": "content_align",
      "label": "Content alignment",
      "default": "left"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "Icon"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title",
      "default": "#707061"
    }
  ],
  "presets": [
    {
      "name": "Featured quote"
    }
  ]
}
{% endschema %}