<div class="section_container" data-aos>
  <div class="main_content{% if section.settings.image == blank %} banner_bg{% endif %}{% if section.settings.layout == 'container' %} page-width{% endif %}">
    {% if section.settings.image != blank %}
      <div class="image_wrapper">{% render 'rimage', image: section.settings.image %}</div>
    {% endif %}
    <div class="content_wrapper page-width text-{{ section.settings.text_align }}">

      {% if section.settings.enable_back and section.settings.back_link != blank %}
        <div class="btn_back">
          <a class="text-bold" href="{{ section.settings.back_link }}">{% render 'icon' with 'icon-arrow-left' %} Back</a>
        </div>
      {% endif %}

      {% if section.settings.title != blank %}
        <h2 class="title">{{ section.settings.title }}</h2> 
      {% endif %}

      {% if section.settings.content != blank and section.settings.content_right %}
        <div class="d-flex space-between align-center m-fd-column m-align-start">
      {% endif %}

      {% if section.settings.subtitle != blank %}
        <div class="subtitle">{{ section.settings.subtitle }}</div>
      {% endif %}
      {% if section.settings.content != blank %}
        <div class="rte desc content font-general{% if section.settings.content_right %} text-right{% endif %}">{{ section.settings.content }}</div>
      {% endif %}

      {% if section.settings.content != blank and section.settings.content_right %}
        </div>
      {% endif %}
      
      {% if section.settings.btn_label != blank and section.settings.btn_link != blank %}
        <div class="btn_wrapper">
          <a class="btn btn-arrow" href="{{ section.settings.btn_link }}">
            {{ section.settings.btn_label }}
            {% render 'icon' with 'icon-arrow-right' %}
          </a>
        </div>
      {% endif %}

    </div>
  </div>
</div>

{% if section.settings.enable_bg_shape %}
  <div class="bg-shape bg-sand hide--mobile"></div>
{% endif %}

<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.section_bg }};
  }
  #shopify-section-{{ section.id }} .title {
    color: {{ section.settings.color_title }};
  }
  #shopify-section-{{ section.id }} .subtitle {
    color: {{ section.settings.color_subtitle }};
  }
  #shopify-section-{{ section.id }} .content {
    color: {{ section.settings.color_content }};
  }
  #shopify-section-{{ section.id }} .content strong {
    color: {{ section.settings.color_content_accent }};
  }
  {% if section.settings.color_button %}
  #shopify-section-{{ section.id }} a.btn {
    color: {{ section.settings.color_button }} !important;
  }
  #shopify-section-{{ section.id }} a.btn svg path {
    fill: {{ section.settings.color_button }};
  }
  {% assign s_height = section.settings.section_height | default: '500px' %}
  #shopify-section-{{ section.id }} .banner_bg {
    min-height: {{ s_height }};
  }
  @media (max-width: 768px) {
    #shopify-section-{{ section.id }} .banner_bg {
      min-height: {{ section.settings.section_height_mob | default: s_height }};
    }
  }
  {% endif %}
</style>

{% schema %}
{
  "name": "Featured bg banner",
  "class": "section-featured-bg-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Background"
    },
    {
      "type": "text",
      "id": "section_height",
      "default": "500px",
      "label": "Height"
    },
    {
      "type": "text",
      "id": "section_height_mob",
      "default": "500px",
      "label": "Height (Mobile)"
    },
    {
      "type": "checkbox",
      "id": "enable_bg_shape",
      "label": "Background shape"
    },
    {
      "type": "select",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Container"
        }
      ],
      "default": "full-width",
      "id": "layout",
      "label": "Layout"
    },
    {
      "type": "select",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ],
      "id": "text_align",
      "default": "left",
      "label": "Text align"
    },
    {
      "type": "checkbox",
      "id": "enable_back",
      "label": "Show back button"
    },
    {
      "type": "url",
      "id": "back_link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "checkbox",
      "id": "content_right",
      "label": "Content right align"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Title",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_subtitle",
      "label": "Subtitle",
      "default": "#707061"
    },
    {
      "type": "color",
      "id": "color_content",
      "label": "Content",
      "default": "#FFF"
    },
    {
      "type": "color",
      "id": "color_content_accent",
      "label": "Content accent",
      "default": "#CC9933"
    },
    {
      "type": "color",
      "id": "color_button",
      "label": "Button",
      "default": "#FFF"
    }
  ],
  "presets": [
    {
      "name": "Featured bg banner"
    }
  ]
}
{% endschema %}