{% render 'section-styles', section: section %}

{% assign layout = section.settings.layout %}

<div class="section_container page-width">
  <div class="text-blocks {{ layout }} m-auto">
    <div class="main_content d-flex space-between align-start m-fd-column">
      {% if layout == 'design-1' and section.settings.title != blank %}
        <div class="section_header d-flex">
          <span class="pin"></span>
          <h2 class="title">{{ section.settings.title }}</h2>
        </div>
      {% endif %}
      <div class="text-blocks-wrapper">
        {% for block in section.blocks %}

          {% capture b_title %}
            {% if block.settings.title != blank %}
              <div class="block_title{% if layout == 'design-2' %} fs-title{% else %} fs-subtitle{% endif %}">{{ block.settings.title }}</div>
            {% endif %}
          {% endcapture %}

          {% capture b_subtitle %}
            {% if block.settings.subtitle != blank %}
              <div class="block_subtitle color-gravel">{{ block.settings.subtitle }}</div>
            {% endif %}
          {% endcapture %}

          {% capture b_content %}
            {% if block.settings.content != blank %}
              <div class="block_content font-general{% if layout == 'design-1' %} color-gravel{% endif %}">{{ block.settings.content }}</div>
            {% endif %}
          {% endcapture %}

          {% capture b_e_content %}
            {% if block.settings.extra_content != blank %}
              <div class="block_ex_content">{{ block.settings.extra_content }}</div>
            {% endif %}
          {% endcapture %}

          {% capture b_btn_content %}
            {% if block.settings.btn_label != blank and block.settings.btn_link != blank %}
              <div class="btn_wrapper">
                <a href="{{ block.settings.btn_link }}" class="btn btn-arrow">
                  {{ block.settings.btn_label }}
                  {% render 'icon' with 'icon-arrow-right' %}
                </a>
              </div>
            {% endif %}
          {% endcapture %}

          {% if layout == 'design-1' %}
            <div class="text-block-item {{ layout }}">
              {{ b_title }}
              {{ b_subtitle }}
              {{ b_content }}
              {{ b_e_content }}
              {{ b_btn_content }}
              {% if block.settings.btn_label != blank and block.settings.btn_link != blank %}
                <a href="{{ block.settings.btn_link }}" class="link-cover"></a>
              {% endif %}
            </div>
          {% elsif layout == 'design-2' %}
            <div class="text-block-item {{ layout }} d-flex m-fd-column">
              <div class="column block_index color-honey text-center hide--mobile">
                {% assign index = forloop.index %}
                {% if index < 10 %}0{% endif %}{{ forloop.index }}.
              </div>
              <div class="column">
                {{ b_title }}
                {{ b_subtitle }}
                {{ b_content }}
                {{ b_btn_content }}
              </div>
              <div class="column d-flex align-center">
                {% if layout == 'design-2' %}
                  {{ b_e_content | replace: '<p>', '<li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16 12.5V15L22 12L16 9V11.5H2V12.5H16Z" fill="#CC9933"/></svg><p>' | replace: '</p>', '</p></li>' }}
                {% else %}
                  {{ b_e_content }}
                {% endif %}
              </div>
            </div>
          {% else %}
            <div class="text-block-item {{ layout }} d-flex m-fd-column">
              <div class="column block_index color-honey hide--mobile">
                {% assign index = forloop.index %}
                {% if index < 10 %}0{% endif %}{{ forloop.index }}.
              </div>
              <div class="column">
                {{ b_title}}
              </div>
              <div class="column">
                {{ b_subtitle }}
                {{ b_content }}
                {{ b_e_content }}
                {{ b_btn_content }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    {% if section.settings.btn_label != blank and section.settings.btn_link != blank %}
      <div class="section_btn_wrapper">
        <a href="{{ section.settings.btn_link }}" class="btn btn-arrow">{{ section.settings.btn_label }}{% render 'icon' with 'icon-arrow-right' %}</a>
      </div>
    {% endif %}

  </div>
</div>

{% schema %}
{
  "name": "Featured text blocks",
  "class": "section-featured-text-blocks",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "options": [
        {
          "value": "design-1",
          "label": "Design 1"
        },
        {
          "value": "design-2",
          "label": "Design 2"
        },
        {
          "value": "design-3",
          "label": "Design 3"
        }
      ],
      "id": "layout",
      "label": "Layout",
      "default": "design-1"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "richtext",
          "id": "extra_content",
          "label": "Extra content"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured text blocks"
    }
  ]
}
{% endschema %}