{% render 'section-styles', section: section %}

<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.section_bg }};
  }
</style>

{% capture 'logos' %}
  {% for block in section.blocks %}
    <div class="logo-item">
      {% render 'rimage', image: block.settings.image %}
    </div>
  {% endfor %}
{% endcapture %}

{% capture 'mob_logos' %}
  {% for block in section.blocks %}
    <div class="logo-item hide--desktop">
      {% render 'rimage', image: block.settings.image %}
    </div>
  {% endfor %}
{% endcapture %}

<div class="section_container page-width" data-aos="logo__animation">
  <div class="main_content m-auto" style="max-width:{{ section.settings.m_width }};padding-left:{{ section.settings.m_left }}">
    <div class="logo-grid d-flex flex-wrap col-{{ section.settings.num_rows }}">
      {% for block in section.blocks %}
        <div class="logo-item">
          {% render 'rimage', image: block.settings.image %}
        </div>
      {% endfor %}
      {{ mob_logos }}
    </div>
  </div>
</div>

<style>
  @media(max-width: 768px) {
    #shopify-section-{{ section.id }} .logo-item {
      max-width: 240px;
      min-width: 240px;
    }
    #shopify-section-{{ section.id }} .logo-grid {
      width: {{ section.blocks.size | times: 2 | times: 240 }}px;
    }
    #shopify-section-{{ section.id }} .logo-grid {
      animation: logoslide {{ section.settings.speed }}s linear infinite;
      flex-wrap: unset;
    }
  }
</style>

{% schema %}
{
  "name": "Featured logos",
  "class": "section-featured-logos",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "range",
      "min": 3,
      "max": 5,
      "default": 3,
      "id": "num_rows",
      "label": "Number per rows"
    },
    {
      "type": "text",
      "id": "m_width",
      "label": "Max width"
    },
    {
      "type": "text",
      "id": "m_left",
      "label": "Spacing left"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "range",
      "min": 1,
      "max": 50,
      "default": 10,
      "label": "Slide speed",
      "id": "speed"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured logos"
    }
  ]
}
{% endschema %}