{% render 'section-styles', section: section %}

<div class="section_container page-width">
  <div class="main_wrapper mw-1000 m-auto">
    <div class="page-row d-flex space-between m-fd-column">
      {% if section.settings.title != blank %}
        <h2 class="title page-row-column">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.subtitle != blank %}
        <div class="subtitle page-row-column color-gravel">{{ section.settings.subtitle }}</div>
      {% endif %}
    </div>
    <div class="page-row d-flex space-between m-fd-column">
      {% if section.settings.content != blank %}
        <div class="rte desc content column-buttons d-flex flex-wrap page-row-column">
          {{ section.settings.content | replace: '<p>', '<li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16 12.5V15L22 12L16 9V11.5H2V12.5H16Z" fill="#CC9933"/></svg><p>' | replace: '</p>', '</p></li>' }}
        </div>
      {% endif %}
      {% if section.settings.btn_label != blank and section.settings.btn_link != blank %}
        <div class="btn_wrapper page-row-column">
          <a href="{{ section.settings.btn_link }}" class="btn btn-arrow">
            {{ section.settings.btn_label }}
            {% render 'icon' with 'icon-arrow-right' %}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured richtext",
  "class": "section-featured-richtext",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Featured richtext"
    }
  ]
}
{% endschema %}