<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.footer_bg }};
    color: {{ section.settings.text_color }};
  }
  #shopify-section-{{ section.id }} a {
    color: {{ section.settings.text_color }};
  }
</style>

<div class="section_container page-width">
  <div class="footer_content d-flex">
    <div class="footer_left">
      {%- if section.settings.logo -%}
        <div class="footer__logo">
          <a href="{{ routes.root_url }}">
            <img src="{{ section.settings.logo | img_url: '300x' }}" alt="{{ section.settings.logo.alt | default: shop.name }}">
          </a>
        </div>
      {%- endif -%}
      <div class="footer-row d-flex m-fd-column">
        <div class="footer_info-wrap">
          {% if section.settings.footer_desc != blank %}
            <div class="footer_desc color-gravel">{{ section.settings.footer_desc }}</div>
          {% endif %}
          {% if section.settings.footer_info != blank %}
            <div class="footer_info">{{ section.settings.footer_info }}</div>
          {% endif %}
        </div>
        <div class="footer_menu font-general">
          {% if section.settings.menu != blank %}
            {% for link in linklists[section.settings.menu].links %}
              <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="footer-google-schema">
        <span itemscope="" itemtype="http://schema.org/Product">
          <span>
            {% render 'icon' with 'icon-stars-yellow' %}
          </span>
          <span itemprop="name" style="color:$colorPrimary;">
            <b><ly-as-12045234>Medito Digital</ly-as-12045234></b>
          </span>
          <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
            <b> <ly-as-12045235>voted</ly-as-12045235> </b>
            <span itemprop="ratingValue"><b>5</b></span>
            <b><ly-as-12045236>/5 out of</ly-as-12045236> </b>
            <span itemprop="reviewCount"><b>20</b></span>
            <b> <ly-as-12045237>votes.</ly-as-12045237> </b><br>
          </span>
        </span>
      </div>
    </div>
    <div class="footer_right">
      {% if section.settings.show_contact %}
        <div class="footer_contact">
          {% if section.settings.contact_title != blank %}
            <h2 class="title d-flex align-center">
              <span class="pin"></span>
              {{ section.settings.contact_title }}
            </h2>
          {% endif %}
          {% if section.settings.contact_subtitle != blank %}
            <div class="subtitle color-gravel font-general">{{ section.settings.contact_subtitle }}</div>
          {% endif %}

          <div class="btn_wrapper font-general d-flex space-between">
            <a href="javascript:;" class="btn btn-white border-white js-drawer-open-booking" aria-controls="BookingDrawer" aria-expanded="false">Book a call</a>
            <a href="javascript:;" class="btn btn--tertiary js-drawer-open-contact" aria-controls="ContactDrawer" aria-expanded="false">Fill a form</a>
          </div>
        </div>
      {% endif %}
      {% if section.settings.show_subscribe %}
        <div class="footer_subscribe">
          {% if section.settings.subscribe_title %}
            <h2 class="title d-flex align-center">
              <span class="pin"></span>
              {{ section.settings.subscribe_title }}
            </h2>
          {% endif %}
          {% render 'newsletter-form' %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="footer-bottom" data-aos>
  <div class="footer-bottom-wrapper page-width d-flex space-between">
    <div class="footer-bottom-left">
      {% if section.settings.f_copyright != blank %}
        <div class="f-copyright color-gravel">{{ section.settings.f_copyright }}</div>
      {% endif %}

      {% if section.settings.f_bottom_info != blank %}
        <div class="f-bottom-info f-general">{{ section.settings.f_bottom_info }}</div>
      {% endif %}

      {% if section.settings.schema_org != blank %}
        {{ section.settings.schema_org }}
      {% endif %}
    </div>
    <div class="footer-bottom-right d-flex">
      {% for block in section.blocks %}
        <div class="brand_img">{% render 'rimage', image: block.settings.image %}</div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Footer",
  "class": "section-footer",
  "settings": [
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "footer_bg",
      "label" :"Background",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Color",
      "default": "#FFF"
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "richtext",
      "id": "footer_desc",
      "label": "Description"
    },
    {
      "type": "richtext",
      "id": "footer_info",
      "label": "Info"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content":" Get in touch"
    },
    {
      "type": "checkbox",
      "id": "show_contact",
      "label": "Show contacts",
      "default": true
    },
    {
      "type": "text",
      "id": "contact_title",
      "label": "Title",
      "default": "Get in touch"
    },
    {
      "type": "richtext",
      "id": "contact_subtitle",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "show_subscribe",
      "label": "Show subscribe",
      "default": true
    },
    {
      "type": "text",
      "id": "subscribe_title",
      "label": "Title",
      "default": "Subscribe to our newsletter"
    },
    {
      "type": "header",
      "content": "Footer bottom"
    },
    {
      "type": "richtext",
      "id": "f_copyright",
      "label": "Copyright"
    },
    {
      "type": "richtext",
      "id": "f_bottom_info",
      "label": "Info"
    },
    {
      "type": "html",
      "id": "schema_org",
      "label": "Schema org"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}