{% render 'section-styles', section: section %}

<div class="section_container" data-aos>
  <div class="section_header page-width d-flex space-between">
    {% if section.settings.title != blank %}
      <h2 class="title">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.subtitle != blank %}
      <div class="rte desc font-general">{{ section.settings.subtitle }}</div>
    {% endif %}
  </div>
  <div class="bg-shape hide--desktop"></div>
  <div class="logo-slider">
    <div class="logo-slider-wrapper d-flex align-center">
      {% capture logoSlider %}
        {% for block in section.blocks %}
          {% if block.settings.image != blank %}
            <div class="logo-slider-item">
              <div class="image_wrapper">{% render 'rimage', image: block.settings.image %}</div>
            </div>
          {% endif %}
        {% endfor %}
      {% endcapture %}
      {{ logoSlider }}
      {{ logoSlider }}
      {{ logoSlider }}
    </div>
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} .logo-slider-wrapper {
    animation: logoslide {{ section.settings.animation_time }}s linear infinite;
  }
  #shopify-section-{{ section.id }} .logo-slider-item {
    max-width: 250px;
    min-width: 250px;
  }
  #shopify-section-{{ section.id }} .logo-slider-wrapper {
    width: {{ section.blocks.size | times: 250 | times: 3 }}px;
  }
  

  @media (max-width: 768px) {
    #shopify-section-{{ section.id }} .logo-slider-wrapper {
      animation: logoslide {{ section.settings.mob_animation_time }}s linear infinite;
    }
    #shopify-section-{{ section.id }} .logo-slider-item {
      max-width: 240px;
      min-width: 240px;
    }
    #shopify-section-{{ section.id }} .logo-slider-wrapper {
      width: {{ section.blocks.size | times: 240 | times: 3 }}px;
    }
  }
</style>

{% schema %}
{
  "name": "Infinite logo slider",
  "class": "section-infinite-logo-slider",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Contents"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "range",
      "min": 1,
      "max": 50,
      "unit": "s",
      "default": 20,
      "id": "animation_time",
      "label": "Animation time"
    },
    {
      "type": "range",
      "min": 1,
      "max": 50,
      "unit": "s",
      "default": 10,
      "id": "mob_animation_time",
      "label": "Animation time"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Infinite logo slider"
    }
  ]
}
{% endschema %}