
<div class="simple_banner bg-sand">
  <div class="page-width">
    <div class="main_wrapper d-flex mw-1000 m-auto h-300 align-center">
      <div class="banner__wrapper d-flex m-fd-column">
        <div class="banner__link">
          <a href="/" class="d-flex align-center text-bold">{% render 'icon' with 'icon-arrow-left' %} Home page</a>
        </div>
        <div class="banner__content">
          <h1 class="title">{{ page.title }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-width">
  <div class="rte rte--nomargin page-main-content m-auto">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "tag": "section"
}
{% endschema %}
