/* ------------------- Layout ---------------- */

@font-face {
  font-family: 'General';
  src: url('GeneralSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@media (min-width: 769px) {
  .hide--desktop {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hide--mobile {
    display: none !important;
  }
  .mobile-block {
    display: block !important;
  }
}

[data--hidden] {
  display: none !important;
}

body * {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 300;
}

.font-general, .font-general * {
  font-family: 'General', serif;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.space-between {
  justify-content: space-between;  
}

@media (max-width: 768px) {
  .m-fd-column {
    flex-direction: column;
  }
  .m-justify-left {
    justify-content: left;
  }
  .m-align-start {
    align-items: flex-start;
  }
  .m-pl-10 {
    padding-left: 10px;
  }
}

.m-left {
  margin-right: auto;
}

.m-right {
  margin-left: auto;
}

.m-auto, .m-center {
  margin-left: auto;
  margin-right: auto;
}

.color-white {
  color: #FFF;
}

.color-black {
  color: #000;
}

.color-sand {
  color: #F2F3EE;
}

.color-gravel {
  color: #707061;
}

.color-honey {
  color: #CC9933;
}

.bg-black {
  background: #000;
}

.bg-sand {
  background: #F2F3EE;
}

.bg-white {
  background: #FFF;
}

.fs-title {
  font-size: 40px;
}

.fs-subtitle {
  font-size: 32px;
}

html {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

.shopify-section {
  position: relative;
}

.text-large {
  font-size: 88px;
}

@media (max-width: 768px) {
  .text-large {
    font-size: 72px;
  }
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: bold;
}

.rte.desc strong {
  font-weight: bold;
}

.btn.no-transition::after {
  display: none !important;
}

.btn {
  font-family: 'General' ,serif !important;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-transform: unset;
}

.border-white {
  border: 1px solid #FFF;
}

.btn-arrow {
  background: transparent !important;
  color: #000 !important;
  display: flex;
  align-items: center;
  overflow: hidden !important;
  padding: 0px;
  padding-right: 6px;
  width: fit-content;
}

.btn-black {
  background: #000 !important;
  color: #FFF !important;
}

.btn-white {
  background: #FFF !important;
  border: 1px solid #FFF;
  color: #000 !important;
  position: relative;
}

.btn:not(.btn-arrow) {
  position: relative;
  overflow: hidden;
  z-index: 9;
  transition: all .3s linear;
}

.btn:not(.btn-arrow)::after {
  background: #cb9836;
  content: '' !important;
  display: block;
  width: 200%;
  height: 100%;
  position: absolute;
  left: 0 !important;
  top: 0;
  transform: skew(-20deg) translateX(-110%) !important;
  transition: .9s;
  z-index: -1;
}

.btn:not(.btn-arrow):hover {
  color: #000 !important;
  border-color: #cb9836;
}

.btn:not(.btn-arrow):hover::after {
  transform: skew(-20deg) translateX(-10%) !important;
}

.btn-arrow svg {
  margin-left: 15px;
  transition: all .3s ease;
}

.btn-arrow:hover svg {
  transform: translateX(6px);
}

.bg-shape {
  background: #F2F3EE;
  position: absolute;
}

.pin {
  background: #CC9933;
  display: block;
  margin-top: 15px;
  margin-right: 15px;
  width: 8px;
  height: 24px;
  transform: skewX(-34deg);
}

@media (max-width: 768px) {
  .pin {
    margin-top: 10px;
  }
}

.mw-1000 {
  max-width: 1000px;
}

@media (max-width: 768px) {
  .mw-full {
    width: 100%;
  }
}

/* ------------------ Site Header ---------------- */

@media (min-width: 769px) {
  .wgcurrent {
    display: none !important;
  }
  
  .language-selector {
    padding-right: 12px;
  }
}

.language-selector * {
  font-family: 'General', serif;
  font-weight: bold;
  font-size: 14px;
}

@media (min-width: 769px) {
  .language-selector * {
    color: #FFF !important;
  }
  .header-invert .language-selector * {
    color: #000 !important;
  }
}

.site-header-wrapper {
  padding-left: 40px;
  padding-right: 40px;
}

@media (min-width: 769px) {
  .site-nav__icons .js-drawer-open-booking {
    padding-left: 30px;
    padding-right: 30px;    
  }
  .header-item--icons .site-nav {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .site-header-wrapper {
    padding-left: 17px;
    padding-right: 17px;
  }
}

@media (max-width: 768px) {
  #NavDrawer .drawer__title img {
    filter: invert(1);
  }
  #NavDrawer .drawer__close-button .icon {
    width: 36px;
    height: auto;
  }
  #NavDrawer .mobile-nav__item:after {
    display: none !important;
  }
  #NavDrawer .mobile-nav__item {
    background: transparent !important;
    text-align: center;
  }
  #NavDrawer .mobile-nav__item a {
    font-size: 24px;
  }
  #NavDrawer .drawer__header {
    height: 60px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    /* border-bottom: none; */
  }
  #NavDrawer .drawer__fixed-header {
    height: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }
  ul.mobile-nav {
    margin-top: 22px;
  }
  #NavDrawer .js-drawer-open-booking {
    font-size: 14px !important;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .mobile-nav-action {
    margin-top: 20px;
  }
  #NavDrawer .drawer__scrollable {
    /* padding-bottom: 50px;
    position: relative; */
  }
  .mobile-nav-language {
    border-top: 1px solid #00000010;
    /* width: 100%; */
    /* bottom: 0px; */
    /* left: 0; */
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    /* position: absolute;
    text-align: center; */
  }

  .site-header__logo-link img {
    width: 100%;
  }

  #SiteHeader {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #SiteHeader .header-layout {
    height: 60px;
  }
  .wgcurrent {
    opacity: .3;
  }
  .wgcurrent a {
    text-decoration: none !important;
  }
  .wg-list.country-selector a {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}

body.header-invert #SiteHeader {
  background: #f2f3ee;
}

body.header-invert #SiteHeader .site-header__logo img {
  filter: invert(1);
}

body.header-invert #SiteHeader a {
  color: #000;
}

body.header-invert #SiteHeader .btn {
  border-color: #000;
}

body.header-invert .js-drawer-open-nav svg path {
  stroke: #000 !important;
}

body.header-invert .site-nav__link--underline:after {
  border-bottom-color: #000;
}

/* ----------------- Homepage -------------------- */

/* === Section Featured-Banner === */

.section-featured-banner h1.title {
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 30px;
}

.section-featured-banner .rte {
  font-size: 24px;
}

@media (max-width: 768px) {
  .section-featured-banner .rte {
    font-size: 20px;
  }
}

.section-featured-banner .zoom_image_wrapper {
  clip-path: polygon(70% 0, 100% 0, 100% 50%, 80% 100%, 30% 100%);
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
}

.section-featured-banner .aos-init .zoom_image_wrapper {
  /* transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1s; */
  transition-delay: 1.5s;
  transition-duration: 1s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
  z-index: 4;
}

.section-featured-banner .zoom_image_wrapper img {
  transform: scale(1.2);
}

.section-featured-banner .main_wrapper {
  position: relative;
}

.section-featured-banner .main_wrapper .image_wrapper {
  position: relative;
  z-index: 2;
}

@media (min-width: 769px) {
  .section-featured-banner .image_wrapper::after {
    background: #00000045;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
}


.section-featured-banner .scroll {
  background: #FFF;
  bottom: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  position: absolute;
  width: 35%;
  z-index: 2;
}

@media (min-width: 1281px) {
  .section-featured-banner .scroll {
    padding-left: calc(100% / 2 - 1280px / 2 + 60px);
  }
}

@media (max-width: 768px) {
  .section-featured-banner .scroll {
    background: transparent;
    bottom: 50px;
    color: #FFF;
    left: 30px;
    padding: 0px;
    width: fit-content;
  }
}

.section-featured-banner .scroll label {
  font-size: 14px;
  font-weight: 600;
}

.section-featured-banner .scroll .scroll_bar {
  background: #E3E4DD;
  margin-right: 18px;
  width: 8px;
  height: 24px;
  overflow: hidden;
  position: relative;
  transform: skew(-38deg, 0deg);
}

.section-featured-banner .scroll .scroll_bar::after {
  background: #cb9836;
  content: '';
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  animation: fill 2s linear infinite;
}

.section-featured-banner .scroll label {
  margin-bottom: 0px;
}

.section-featured-banner .content-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
}

@media (min-width: 1280px) {
  .section-featured-banner .content-wrapper {
    left: calc(100% / 2 - 1280px / 2);
  }
}

@media (max-width: 768px) {
  .section-featured-banner .content-wrapper {
    margin-top: -50px;
    }
}

.section-featured-banner .content-wrapper .text-wrapper {
  margin-top: -100px;
  width: 380px;
}

@media (max-width: 768px) {
  .section-featured-banner .content-wrapper .text-wrapper {
    width: 300px;
  }
}

.section-featured-banner .content-wrapper .logo_icon {
  margin-top: 35px;
  width: 150px;
}

.section-featured-banner .bg-shape {
  top: 50%;
  right: 5px;
  width: 600px;
  height: 1450px;
  transform: skew(-34deg, 0deg);
}

@keyframes fill {
  0% {
    transform: translateY(100%);
  }
  30% {
    transform: translateY(100%);
  }
  60% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* === Section Infinite-Logo-Slider === */

.section-infinite-logo-slider .logo-slider {
  margin-top: 60px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .section-infinite-logo-slider .logo-slider {
    margin-top: 45px;
  }
}

.section-infinite-logo-slider .logo-slider-wrapper {
  width: 200%;
}

.section-infinite-logo-slider .logo-slider-item {
  /* max-width: calc(25% / 2); */
  /* min-width: calc(25% / 2); */
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .section-infinite-logo-slider .logo-slider-item {
    max-width: 25%;
    min-width: 25%;
  }
}

.section-infinite-logo-slider .section_header {
  position: relative;
  z-index: 1;
}

.section-infinite-logo-slider .section_header h2 {
  max-width: calc(58% - 20px);
  min-width: calc(58% - 20px);
}

.section-infinite-logo-slider .section_header .desc {
  margin-top: 15px;
  max-width: calc(42% - 20px);
  min-width: calc(42% - 20px);
}

@media (max-width: 768px) {
  .section-infinite-logo-slider .section_header {
    flex-direction: column;
  }  

  .section-infinite-logo-slider .section_header h2 {
    max-width: 100%;
    min-width: 100%;
  }
  
  .section-infinite-logo-slider .section_header .desc {
    margin-top: 0px;
    max-width: 100%;
    min-width: 100%;
  }
}

.section-infinite-logo-slider h2 {
  margin-top: 0px;
}

@media (max-width: 768px) {
  .section-infinite-logo-slider h2 {
    margin-bottom: 10px;
  }
}

.section-infinite-logo-slider .desc {
  color: #707061;
  font-size: 16px;
  line-height: 1.5;
}

.section-infinite-logo-slider .bg-shape {
  width: 500px;
  height: 500px;
  top: 305px;
  right: -340px;
  transform: skewX(-34deg);
}

@media (max-width: 768px) {
  .section-infinite-logo-slider .bg-shape {
    width: 550px;
    height: 730px;
    top: 255px;
    right: -360px;
  }
}

@keyframes logoslide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* === Section Featured-media-blocks === */

.section-featured-media-blocks .main_wrapper {
  max-width: 1000px;
}

.section-featured-media-blocks .empty_block {
  height: 150px;
}

@media (max-width: 768px) {
  .section-featured-media-blocks .empty_block {
    height: 0px;
  }
}

.section-featured-media-blocks .column {
  max-width: calc(50% - 12px);
  min-width: calc(50% - 12px);
}

@media (max-width: 768px) {
  .section-featured-media-blocks .column {
    min-width: 100%;
    max-width: 100%;
  }
  .section-featured-media-blocks .column:not(:first-child) {
    margin-top: 45px;
  }
}

.section-featured-media-blocks .section_header .title {
  margin-top: 50px;
  margin-bottom: 55px;
}

@media (max-width: 768px) {
  .section-featured-media-blocks .section_header .title {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

.section-featured-media-blocks .design-1 .btn_wrapper {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .section-featured-media-blocks .btn_wrapper {
    margin-top: 50px;
  }
  .section-featured-media-blocks .btn_wrapper a {
    margin-left: auto;
    margin-right: auto;
  }
}

.section-featured-media-blocks .design-2 .section_header {
  margin-bottom: 30px;
}

.section-featured-media-blocks .design-2 .title {
  font-size: 24px;
  margin-left: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .section-featured-media-blocks .design-2 .title {
    font-size: 32px;
  }
}

.section-featured-media-blocks .design-2 .title .pin {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .section-featured-media-blocks .design-2 .title .pin {
    margin-top: 10px;
  }
}

.section-featured-media-blocks .item_title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .section-featured-media-blocks .item_title {
    margin-top: 10px;
  }
}

.section-featured-media-blocks .item_subtitle {
  color: #707061;
}

.section-featured-media-blocks .item_subtitle p {
  font-family: 'General', sans-serif;
}

.section-featured-media-blocks .media_item:not(.first) {
  margin-top: 80px;
}

@media (max-width: 768px) {
  .section-featured-media-blocks .media_item:not(.first) {
    margin-top: 45px;
  }

  .section-featured-media-blocks .btn_wrapper {
    /* margin-top: 30px; */
  }
}

.section-featured-media-blocks .image_wrapper {
  position: relative;
}

.section-featured-media-blocks .zoom_image_wrapper {
  clip-path: polygon(70% 0, 100% 0, 30% 100%, 0 100%);
  position: absolute;
  top: 0;
}

.section-featured-media-blocks .image_wrapper img {
  transition: transform .3s ease;
  transform: scale(1.1);
}

.section-featured-media-blocks .image_wrapper:hover .zoom_image_wrapper {
}

.section-featured-media-blocks .image_wrapper:hover .zoom_image_wrapper img {
  transform: scale(1.2);
}

.section-featured-media-blocks .image_wrapper:hover > .image-wrap img {
  transform: scale(1);
}


/* === Section Featured-text-blocks === */

.section-featured-text-blocks .text-blocks {
  max-width: 1000px;
  position: relative;
  z-index: 1;
}

.section-featured-text-blocks .section_header {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .section-featured-text-blocks .section_header {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

.text-blocks.design-1 .text-blocks-wrapper {
  max-width: calc(60% - 20px);
  min-width: calc(60% - 20px);
}

@media (max-width: 768px) {
  .text-blocks.design-1 .text-blocks-wrapper {
    max-width: 100%;
    min-width: 100%;
  }
  .text-blocks.design-1 .block_title {
    font-size: 24px;
  }
}

.text-blocks.design-1 .section_header {
  max-width: calc(40% - 20px);
  min-width: calc(40% - 20px);
}

@media (max-width: 768px) {
  .text-blocks.design-1 .section_header {
    max-width: 100%;
    min-width: 100%;
  }
}

.section-featured-text-blocks .text-block-item {
  border-top: 1px solid #E3E4DD;
  padding-top: 35px;
  padding-bottom: 35px;
}

.section-featured-text-blocks .text-block-item.design-1 {
  position: relative;
}

.section-featured-text-blocks .text-block-item.design-1:hover .btn.btn-arrow svg {
  transform: translate(6px);
}

.section-featured-text-blocks .text-block-item.design-1 a.link-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-featured-text-blocks .text-block-item.design-2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .section-featured-text-blocks .text-block-item {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.section-featured-text-blocks .text-block-item .btn_wrapper {
  margin-top: 20px;
}

.text-block-item.design-3 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.section-featured-text-blocks .text-block-item:last-child {
  border-bottom: 1px solid #E3E4DD;
}

.text-blocks .block_title {
}

.section-featured-text-blocks .block_subtitle {
  font-size: 24px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .section-featured-text-blocks .block_subtitle {
    font-size: 23px;
  }
}

.text-block-item.design-3 .block_subtitle {
  font-size: 16px;  
}

.text-blocks.design-1 .block_subtitle {
}

.section-featured-text-blocks .block_subtitle p {
  margin: 0px;
}

.section-featured-text-blocks .block_content {
  font-size: 16px;
  margin-top: 20px;
}

.section-featured-text-blocks .block_content p:last-child {
  margin-bottom: 0px;
}

.text-blocks.design-1 .block_title {
}

.text-block-item.design-2 .column:first-child {
  min-width: 20%;
  max-width: 20%;
}

.text-block-item.design-2 .column:nth-child(2) {
  min-width: 52%;
  max-width: 52%;
  padding-right: 100px;
}

@media (max-width: 768px) {
  .text-block-item.design-2 .column:nth-child(2) {
    min-width: 100%;
    max-width: 100%;
    padding-right: 0px;
  }
}

.text-block-item.design-2 .column:last-child {
  flex: 1;
  font-size: 20px;
}

@media (max-width: 768px) {
  .text-block-item.design-2 .column:last-child {
    margin-top: 30px;
  }
}

.text-block-item .block_index {
  font-size: 16px;
}

.text-block-item.design-2 .block_index {
  font-size: 24px;
  margin-top: 14px;
}

.text-block-item.design-2 .block_ex_content li {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-block-item.design-2 .block_ex_content p {
  margin-bottom: 0px;
}

.text-block-item.design-2 .block_ex_content li svg {
  margin-right: 25px;
}

.text-block-item.design-3 .column:first-child {
  max-width: 50px;
  min-width: 50px;
}

.text-block-item.design-3 .column:nth-child(2) {
  min-width: 56%;
  max-width: 56%;
  padding-left: 45px;
  padding-right: 45px;
}

@media (max-width: 768px) {
  .text-block-item.design-3 .column:nth-child(2) {
    max-width: 100%;
    min-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.text-block-item.design-3 .block_index {
  margin-top: 12px;
}

.text-block-item.design-3 .block_subtitle {
  color: #000;
}

.text-blocks.design-3 .section_btn_wrapper {
  margin-top: 35px;
  margin-left: calc(56% + 50px);
}

@media (max-width: 768px) {
  .text-blocks.design-3 .section_btn_wrapper {
    margin-left: 0px;
  }
}

/* === Section Blog-posts === */

.section-blog-posts h2 {
  font-size:24px;
}

@media (max-width: 768px) {
  .section-blog-posts h2 {
    font-size: 32px;
  }
}

.section-blog-posts .section-header {
  margin-bottom: 40px;
  padding-left: 110px;
  padding-right: 90px;
}

@media (max-width: 768px) {
  .section-blog-posts .section-header {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.section-blog-posts .section-header .pin {
  margin-top: 5px;
}

.section-blog-posts .article__grid-meta {
  text-align: left;
}

@media (max-width: 768px) {
  .section-blog-posts .article__grid-meta {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}

.section-blog-posts .article__title {
  font-size: 20px;
  line-height: 1.02;
}

@media (max-width: 768px) {
  .section-blog-posts .grid > * {
    width: 100%;
  }
  .section-blog-posts .btn_wrapper {
    margin-top: 15px;
  }
}

.section-blog-posts .page-width {
  position: relative;
  z-index: 1;
}

.section-blog-posts .bg-shape {
  width: 900px;
  height: 1000px;
  top: -350px;
  transform: skew(-34deg);
  left: -730px;
}

@media (max-width: 768px) {
  .section-blog-posts .bg-shape {
    width: 520px;
    height: 740px;
    top: -380px;
    left: 150px;
  }
}


/* -------------------- Page -> Migrate to Shopify ------------------ */

/* === Section Featured bg banner === */

.section-featured-bg-banner .main_content.banner_bg {
  /* min-height: 403px; */
}

body.template-page-projects .section-featured-bg-banner .main_content.banner_bg {
  /* min-height: 340px; */
}

body.template-page-gallery .section-featured-bg-banner .main_content.banner_bg {
  /* min-height: 440px; */
}

.section-featured-bg-banner .content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  body.template-page-projects .section-featured-bg-banner .content_wrapper {
    margin-top: -50px;
  }
}

.section-featured-bg-banner .content_wrapper .title {
  font-size: 56px;
  margin-top: 20px;
}

body.template-page-gallery .section-featured-bg-banner .content_wrapper .title {
  margin-top: -60px;
}

@media (max-width: 768px) {
  .section-featured-bg-banner .content_wrapper .title {
    font-size: 46px;
  }
}

.section-featured-bg-banner .content_wrapper .subtitle {
  font-size: 24px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .section-featured-bg-banner .content {
    margin-top: 10px;
    text-align: left !important;
  }
}

.section-featured-bg-banner .content_wrapper .content p {
  margin-bottom: 6px;
}

.section-featured-bg-banner .content_wrapper .content p:last-child {
  margin-bottom: 0px;
}

.section-featured-bg-banner .btn_wrapper {
  margin-top: 20px;
}

.section-featured-bg-banner a.btn::after {
  display: none;
}

.section-featured-bg-banner .bg-shape {
  top: 100%;
  transform: skewX(-34deg);
  height: 700px;
  width: 400px;
  left: -230px;
}

@media (min-width: 1281px) {
  .section-featured-bg-banner .content_wrapper {
    left: calc(100% / 2 - 1280px / 2);
  }
}

.section-featured-bg-banner .btn_back {
  position: absolute;
  top: 20px;
}

.section-featured-bg-banner .btn_back a {
  display: inline-flex;
  align-items: center;
}

.section-featured-bg-banner .btn_back a svg {
  margin-right: 15px;
}


/* === Section Richtext === */

.section-richtext .page-width {
  /* max-width: 1000px; */
}

.section-richtext .theme-block {
  /* margin-left: 150px; */
}

.section-richtext .rte .enlarge-text {
  font-size: 32px;
}

@media (max-width: 768px) {
  .section-richtext .theme-block {
    max-width: unset !important;
    padding-left: unset !important;
  }
  .section-richtext .rte {
    font-size: 24px !important;
  }
}

/* === Section FAQ === */

.section-faq .faq-block-item {
  /* background: #FFF; */
  padding: 50px 53px;
}

@media (max-width: 768px) {
  .section-faq .faq-block-item {
    padding: 30px 30px 45px;
  }
}

.section-faq .main_wrapper {
  max-width: 1000px;
}

.section-faq .main_wrapper .section-header {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .section-faq .main_wrapper .section-header {
    margin-bottom: 30px;
  }
}

.section-faq .main_wrapper.layout-block .section-header {
  margin-top: 50px;
}

@media (min-width: 769px) {
  .section-faq .main_wrapper.layout-block .section-header {
    padding-left: 90px;
  }
}

.section-faq .faq-blocks .column {
  max-width: calc(50% - 12px);
  min-width: calc(50% - 12px);
}

.section-faq .faq-block-item:not(.first) {
  margin-top: 24px;
}

@media (max-width: 768px) {
  .section-faq .faq-block-item:not(.first) {
    margin-top: 18px;
  }
}

.section-faq .faq-block-item .block_index {
  font-size: 16px;
}

.section-faq .faq-block-item .block_title {
  font-size: 24px;
  margin-top: 60px;
}

.section-faq .faq-block-item .block_content {
  font-size: 16px;
  margin-top: 15px;
  line-height: 1.5;
}

.section-faq .faq-block-item .block_content p:last-child {
  margin-bottom: 0px;
}

/* === Section CTA === */

.section-cta .main_content {
  padding: 85px;
  position: relative;
}

@media (max-width: 768px) {
  .section-cta .main_content {
    padding: 40px 40px 85px;
    overflow: hidden;
  }
}

.section-cta .content_wrapper {
  max-width: 520px;
  margin-left: auto;
  margin-right: 75px;
}

.section-cta .main_content .link-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section-cta .main_content:hover .btn.btn-arrow svg {
  transform: translateX(6px);
}

@media (max-width: 1240px) {
  .section-cta .content_wrapper {
    max-width: 50%;
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .section-cta .content_wrapper {
    max-width: unset;
    margin-right: 0px;
  }
}

.section-cta .content_wrapper .title {
  font-size: 48px;
}

@media (max-width: 768px) {
  .section-cta .content_wrapper .title {
    font-size: 32px;
  }
}

.section-cta .desc {
  font-size: 16px;
  margin-top: 15px;
}

.section-cta .btn-arrow svg {
  width: 40px;
  height: auto;
}

@media (max-width: 768px) {
  .section-cta .btn-arrow svg {
    margin-left: 0px;
  }
  .section-cta .btn-arrow {
    transform: translateY(50px);
  }
}

.bg-skew-shape {
  position: absolute;
  transform: skewX(-34deg);
}

.section-cta .bg-white {
  margin-left: -2px;
  width: 70px;
  height: 58%;
  top: 15%;
  z-index: 1;
}

@media (max-width: 1240px) {
  .section-cta .bg-white {
    width: 5%;
  }
}

@media (max-width: 768px) {
  .section-cta .bg-white {
    width: 35px;
    height: 90px;
    top: unset;
    bottom: 25px;
    right: 40px;
  }
}

.section-cta .bg-sand {
  margin-left: 15px;
  width: 240px;
  height: 100%;
  top: 0;
}

@media (max-width: 1240px) {
  .section-cta .bg-sand {
    width: 18%;
  }
}

@media (max-width: 768px) {
  .section-cta .bg-sand {
    width: 165px;
    height: 85px;
    top: unset;
    bottom: 0;
    right: 0;
  }
}

.section-cta .bg-black {
  width: 150px;
  height: 40%;
  bottom: 0;
  margin-left: 140px;
}

@media (max-width: 1240px) {
  .section-cta .bg-black {
    width: 12%;
    margin-left: 8%;
  }
}

@media (max-width: 768px) {
  .section-cta .bg-black {
    height: 200px;
    width: 150px;
    margin-left: unset;
    right: -114px;
  }
}

/* === Section Featured-Quote === */

.section-featured-quote .main_wrapper {
  /* max-width: 1000px; */
  max-width: 950px;
  padding-left: 75px;
  padding-right: 75px;
}

@media (max-width: 768px) {
  .section-featured-quote .main_wrapper {
    padding-left: 45px;
    padding-right: 0px;
  }
}

.section-featured-quote .quote_wrapper {
  position: relative;
}

.section-featured-quote .icon_wrapper {
  position: absolute;
  transform: translate(-120%, -60%);
}

@media (max-width: 768px) {
  .section-featured-quote .icon_wrapper {
    left: -40px;
    transform: translateY(-50%);
  }
}

.section-featured-quote .main_wrapper.align-center {
  justify-content: center;
}

.section-featured-quote .main_wrapper.align-right {
  justify-content: flex-end;
}

.section-featured-quote .quote {
  font-size: 24px;
}

.section-featured-quote .quote p:last-child {
  margin-bottom: 0px;
}

.section-featured-quote .quote_title {
  margin-top: 30px;
}

.section-featured-quote .quote_subtitle {
  margin-top: 5px;
}

.section-featured-quote .pin {
  width: 16px;
  height: 45px;
}

@media (max-width: 768px) {
  .section-featured-quote .pin {
    margin-right: 5px;
    width: 8px;
    height: 24px;
  }
}

/* === Section Featured logos === */

.section-featured-logos .logo-grid {
  margin-left: -15px;
  margin-right: -15px;
}

.section-featured-logos .logo-item {
  padding: 15px;
}

.section-featured-logos .logo-grid.col-3 .logo-item {
  max-width: calc(100% / 3);
  min-width: calc(100% / 3);
}

.section-featured-logos .logo-grid.col-4 .logo-item {
  max-width: 25%;
  min-width: 25%;
}

.section-featured-logos .logo-grid.col-5 .logo-item {
  max-width: 20%;
  min-width: 20%;
}

@media (max-width: 768px) {
  .section-featured-logos .logo-item {
    max-width: 200px;
    min-width: 200px;
  }
  .section-featured-logos .main_content {
    padding-left: 0px !important;
  }
}

/* === Section Advanced Content === */

@media (min-width: 769px) {
  .section-advanced-content .custom__item-icon {
    padding-left: 32px;
  }
}

.section-advanced-content .icon_block_wrapper .image_wrapper {
  height: 60px;
}

.section-advanced-content .icon_block_wrapper .image-wrap {
  width: 100%;
}

.section-advanced-content .icon_block_wrapper .desc {
  font-size: 16px;
  margin-top: 30px;
}

.section-advanced-content .icon_block_wrapper .desc strong {
  color: #000;
}

@media (max-width: 768px) {
  .section-advanced-content .main_content {
    padding-left: 0px !important;
  }
  .section-advanced-content .icon_block_wrapper {
    margin-top: 30px;
  }
}

/* === Section Featured richtext === */

.section-featured-richtext .page-row:not(:first-child) {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .section-featured-richtext .page-row:not(:first-child) {
    margin-top: 0px;
  }
}

.section-featured-richtext .page-row .page-row-column {
  flex: 1;
}

.section-featured-richtext .page-row .page-row-column:first-child {
  min-width: 72%;
  max-width: 72%;
  padding-right: 30px;
}

.section-featured-richtext .page-row .column-buttons {
  padding-right: 100px !important;
}

@media (max-width: 768px) {
  .section-featured-richtext .page-row .page-row-column:first-child {
    max-width: 100%;
    min-width: 100%;
    padding-right: 0px;
  }
  .section-featured-richtext .page-row .column-buttons {
    padding-right: 0px !important;
  }
}

.section-featured-richtext h2.title {
  font-size: 32px;
}

@media (max-width: 768px) {
  .section-featured-richtext h2.title {
    font-size: 28px;
  }
}

.section-featured-richtext .subtitle {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 5px;
}

.section-featured-richtext .subtitle p:not(:last-child) {
  margin-bottom: 20px;
}

.section-featured-richtext .content {  
  font-size: 20px;
  list-style: none;
}

.section-featured-richtext .content li {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  max-width: 50%;
  min-width: 50%;
}

@media (max-width: 768px) {
  .section-featured-richtext .content li {
    font-size: 14px;
  }
}

.section-featured-richtext .content li svg {
  margin-right: 15px;
}

@media (max-width: 768px) {
  .section-featured-richtext .content li svg {
    margin-right: 10px;
  }

  .section-featured-richtext .btn_wrapper {
    margin-top: 20px;
  }
}

/* ----------------- Blog / Artice page ------------------- */

.blog-banner {
  height: 470px;
  position: relative;
}

.blog-banner .title {
  font-size: 56px;
}

@media (max-width: 768px) {
  .blog-banner .title {
    font-size: 46px;
  }
}

.blog-banner .subtitle {
  font-size: 24px;
  margin-top: 10px;
}

.blog-banner .banner-wrapper {
  margin-top: -100px;
  width: 100%;
}

@media (max-width: 768px) {
  .blog-banner .banner-wrapper {
    margin-top: -50px;
  }
}

.section-blog-main .page-content {
  margin-top: -135px;
  padding-top: 0px;
}

.section-blog-main .article__grid-meta {
  margin-bottom: 45px;
  text-align: left;
}

.section-blog-main .article__grid-meta a {
  font-size: 20px;
}

.simple_banner h1 {
  font-size: 48px;
  margin-top: 0px;
}

@media (max-width: 768px) {
  .simple_banner h1 {
    font-size: 38px;
  }
}

.simple_banner .subtitle {
  font-size: 20px;
}

.h-500 {
  height: 500px;
}

.h-300 {
  height: 300px;
}

.section-article-main {
  border-bottom: 1px solid #E3E4DD;
  padding-bottom: 60px;
}

.simple_banner .banner__content {
  margin-left: 100px;
}

body .simple_banner .banner__wrapper {
  margin-top: 75px;
}

@media (max-width: 768px) {
  body .simple_banner .banner__wrapper {
    margin-top: 0px;
  }
}

body.template-article .simple_banner .banner__content {
  margin-left: 120px;
}

@media (max-width: 768px) {
  body.template-article .simple_banner .banner__content {
    margin-left: 0px;
  }
}

body.template-article .simple_banner .banner__wrapper {
  margin-top: -80px;
}

body.template-article .simple_banner h1 {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .simple_banner .banner__content {
    margin-left: 0px;
    margin-top: 30px;
  }
}

.simple_banner .banner__link {
  padding-top: 15px;
}

.simple_banner .banner__link svg {
  margin-right: 15px;
}

.article__body {
  margin-top: -110px;
}

.article__content {
  max-width: 600px;
}

.article_image_wrapper {
  margin-bottom: 30px !important;
}

@media (max-width: 768px) {
  body.template-blog .blog-banner .banner-wrapper,
  body.template-article .simple_banner .banner__wrapper {
    transform: translateY(-50px);
  }
}

.article__content {
  font-size: 18px;
}

.article__content blockquote {
  padding: 45px 0;
  position: relative;
}

@media (max-width: 768px) {
  .article__content blockquote {
    padding: 45px 0 45px 45px;
  }
}

.article__content blockquote::before,
.article__content blockquote::after {
  content: '';
  background: #E3E4DD;
  display: block;
  margin-top: 30px;
  width: 16px;
  height: 45px;
  transform: skew(-34deg);
  left: -60px;
  top: -10px;
  position: absolute;
}

.article__content blockquote::before {
  left: -30px;
}

@media (max-width: 768px) {
  .article__content blockquote::before,
  .article__content blockquote::after {
    width: 8px;
    height: 24px;
    left: 5px;
    top: 0px;
  }
  .article__content blockquote::before {
    left: 20px;
  }
}

/* === Section Footer === */

.section-footer .footer__logo img {
  height: 35px;
  
}

.section-footer .footer_left {
  border-right: 1px solid #ffffff20;
  max-width: 60%;
  min-width: 60%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 75px;
  position: relative;
}

.footer-google-schema {
  position: absolute;
  bottom: 35px;
}

@media (max-width: 768px) {
  .footer-google-schema {
    bottom: 0;
    position: relative;
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

.footer-google-schema svg {
  display: inline-block;
  margin-right: 5px;
  transform: translateY(2px);
}

@media (max-width: 768px) {
  .footer-google-schema svg {
    display: block;
    margin-bottom: 13px;
    transform: unset;
  }
}

.section-footer .footer_right {
  max-width: 40%;
  min-width: 40%;
  padding-top: 95px;
  padding-bottom: 95px;
  padding-left: 90px;
}

@media (max-width: 768px) {
  .section-footer .footer_content {
    flex-direction: column-reverse;
  }
  .section-footer .footer_right {
    max-width: 100%;
    min-width: 100%;
    padding: 0px;
  }
  .section-footer .footer_left {
    border: none;
    min-width: 100%;
    max-width: 100%;
    padding: 0px;
    padding-top: 60px;
    position: relative;
  }
  .section-footer .footer_left::before {
    background: #ffffff20;
    bottom: unset;
    content: "";
    position: absolute;
    left: -18px;
    width: 100vw;
    height: 1px;
    top: 0;
  }
  .footer-bottom-left {
    margin-top: 40px;
  }
}

.section-footer .footer_desc {
  font-size: 16px;
}

@media (max-width: 768px) {
  .section-footer .footer_desc {
    margin-top: 10px;
  }
}

.footer-row .footer_info-wrap {
  max-width: 60%;
  min-width: 60%;
  padding-right: 100px;
}

@media (max-width: 768px) {
  .footer-row .footer_info-wrap {
    max-width: 100%;
    min-width: 100%;
    padding-right: 0px;
  }
}

.footer-row .footer_info-wrap .footer_info {
  font-size: 16px;
  margin-top: 30px;
}

.footer-row .footer_info-wrap .footer_info p {
  margin-bottom: 10px;
  min-height: 10px;
}

.footer-row .footer_info-wrap .footer_info p:last-child {
  margin-bottom: 0px;
}

.footer-row .footer_menu {
  font-size: 20px;
  list-style: none;
  max-width: 40%;
  min-width: 40%;
}

@media (max-width: 768px) {
  .footer-row .footer_menu {
    max-width: 100%;
    min-width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

.footer-row .footer_menu li:not(:last-child) {
  margin-bottom: 20px;
}

.footer_contact {
  padding-bottom: 100px;
  position: relative;
}

.footer_contact .title {
  margin-left: 10px;
}

.footer_contact .btn_wrapper {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .footer_contact {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.footer_contact::after {
  background: #ffffff20;
  content: '';
  position: absolute;
  bottom: 0px;
  left: -90px;
  width: 100vw;
  height: 1px;
}

@media (max-width: 768px) {
  .footer_contact::after {
    left: -18px;
  }
}

.footer_contact .title {
  font-size: 32px;
}

.footer_contact .subtitle {
  font-size: 16px;
  margin-top: 15px;
}

.footer_contact .btn_wrapper a {
  min-width: calc(50% - 10px);
  max-width: calc(50% - 10px);
}

.footer_contact .title .pin {
  margin-top: 5px;
}

.footer_subscribe {
  padding-top: 100px;
}

@media (max-width: 768px) {
  .footer_subscribe {
    padding-top:70px;
    padding-bottom: 70px;
  }
}

.footer_subscribe .title {
  font-size: 24px;
  margin-left: 10px;
}

.footer_subscribe .title .pin {
  margin-top: 0px;
}

.footer_subscribe form {
  margin-top: 25px;
}

.footer-bottom {
  border-top: 1px solid #ffffff20;
}

.footer-bottom-wrapper {
  padding-top: 30px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .footer-bottom-wrapper {
    flex-direction: column-reverse;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.f-bottom-info {
  font-size: 12px;
}

.f-bottom-info p {
  margin-bottom: 10px;
}

.f-copyright {
  margin-bottom: 5px;
}

.f-copyright em {
  font-style: normal;
}

@media (max-width: 768px) {
  .f-copyright {
    line-height: 1.5;
    margin-top: 30px;
  }
  .f-copyright strong {
    display: block;
  }
  .f-copyright em {
    display: none;
  }
}

.f-copyright p:last-child {
  margin-bottom: 0px;
}

.f-bottom-info p:last-child {
  margin-bottom: 0px;
}

.footer-bottom-right img {
  height: 35px;
}

@media (max-width: 768px) {
  .footer-bottom-right img {
    height: 35px;
  }
}

.footer-bottom-right .brand_img {
  margin-left: 30px;
  opacity: .5;
}

@media (max-width: 768px) {
  .footer-bottom-right .brand_img:first-child {
    margin-left: 0px;
  }
}

.newsletter__input-group input::placeholder {
  color: #ffffff70;
}

.newsletter__input-group input {
  border: none;
  font-size: 16px;
}

.newsletter__input-group input, .newsletter__input-group button {
  background: #191919;
}

.newsletter__input-group button {
  min-width: unset;
  margin-left: 5px;
}

/* ====================== Page Banner Template ============================ */

.page-main-content {
  font-size: 18px;
  max-width: 570px;
  padding-top: 90px;
  padding-bottom: 90px;
}

@media (max-width: 768px) {
  .page-main-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* === Section CTA Group === */

.section-cta-group .block_title {
  font-size: 24px;
}

.section-cta-group .block_subtitle {
  font-size: 16px;
  margin-top: 15px;
}

.section-cta-group .btn_wrapper {
  margin-top: 30px;
}

.section-cta-group .btn_wrapper a {
  width: 200px;
  height: 40px;
  line-height: 1;
}

.section-cta-group .cta_block {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 768px) {
  .section-cta-group .cta_block {
    padding: 45px 0;
  }
}

.section-cta-group .cta_block:nth-child(2) {
  border-left: 1px solid #CC9933;
  border-right: 1px solid #CC9933;
}

@media (max-width: 768px) {
  .section-cta-group .cta_block:nth-child(2) {
    border-left: none;
    border-right: none;
    border-top: 1px solid #CC9933;
    border-bottom: 1px solid #CC9933;
  }
}

/* ========= Contact us Modal =========== */

#ContactDrawer {
  width: 640px;
}

#ContactDrawer .grid {
  margin-bottom: 30px;
}

#ContactDrawer input, 
#ContactDrawer select,
#ContactDrawer textarea {
  border: 1px solid #e8e8e1;
  width: 100%;
  height: 40px;
  outline: none;
}

#ContactDrawer label {
  font-size: 16px;
}

#ContactDrawer button {
  background: #CC9933;
  margin-top: 30px;
  width: 100%;
}

@media (max-width: 768px) {
  #ContactDrawer {
    padding: 30px 20px;
  }
  #ContactDrawer .grid {
    margin-bottom: 0px;
  }
  #ContactDrawer .grid__item {
    margin-bottom: 15px;
  }
}

/* === Booking Modal === */

#BookingDrawer {
  width: 900px;
  height: 750px;
  overflow: unset;
}

#BookingDrawer .js-drawer-close {
  border: 1px solid #FFF;
  background: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
#BookingDrawer .js-drawer-close svg {
  display: block;
  fill: #FFF;
  width: 12px;
}

@media (max-width: 768px) {
  #BookingDrawer {
    max-width: 100%;
    padding: 15px 15px;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 769px) {
  #BookingDrawer .js-drawer-close {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 36px;
    height: 36px;
  }
  #BookingDrawer .js-drawer-close svg {
    width: 16px;
  }
}

#BookingDrawer .meetings-iframe-container {
  height: 100%;
}

#BookingDrawer iframe {
  height: 100% !important;
}